<div class="card-container">
  <div class="title"><span>Title</span><span>{{article.title}}</span></div>
  <div class="description"><span>Description></span><span>{{article.description}}</span></div>
  <div class="publisher"><span>Published by</span><span>{{article.source}}</span></div>
</div>
